body {
    background-color: #323644;
}

.card {
    display: inline-block;
    width: 250px;
    height: 350px;
    border-radius: 0.5rem;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#basic {
    background-image: linear-gradient(to right, #7e82d4, #89b7e6, #8ce2dd);
    position: absolute;
    top: 200px;
    left: 400px;
}

#awesome {
    background-image: linear-gradient(to right, #fe4a2d, #fe4457);
    position: absolute;
    top: 200px;
    left: 675px;
}

#premium {
    background-image: linear-gradient(to right, #8ec23c, #4abc6c, #07b196);
    position: absolute;
    top: 200px;
    left: 950px;
}

h2 {
    margin-top: 35px;
}

h2, p {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

p {
    line-height: 1;
}

.plan {
    font-size: 18px;
    
}

.price {
    font-size: 80px;
}

a {
    position: absolute;
    bottom: -8px;
    right: -120px;
    color: #323644;
    text-decoration: none;
    background-color: white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    width: 100%;
    padding: 10px 0 10px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    transition-property: all;
    transition-timing-function: linear;
}

a:hover {
    animation: toleft 4s;
}

@keyframes toleft {
    from {right: -125px;}
    to {left: 0;
    text-align: center;}
}